table.dataTable {
	border-collapse: collapse!important;
}

.table.table-bordered td {
	border-top-width: 1px;
}

.table.table-bordered th {
	border-top-width: 2px;
}

.banner {
	padding: 10px 15px;
	border-radius: 5px;
	box-shadow: 2px 6px 15px 0 rgb(69 65 78 / 10%);
}

.banner-info {
	background: #217bf1;
	color: white;
}

.table.table-sm td,
.table.table-sm th {
	padding: 0 10px !important;
	height: 40px;
}

.table td, .table th {
	padding: 10px 15px!important;
	height: unset; 
}

.form-control {
	padding: .5rem .7rem;
}

.nav-pills.nav-secondary .nav-link.active {
	background: #217bf1;
	border: 1px solid #217bf1;
}

.form-control[readonly] {
	color: #000000;
}

.btn-sm {
	padding: 4px 9px;
}

.card-header .card-title {
	font-size: medium;
	font-weight: bold;
}

a.btn-primary,
a.btn-primary:hover {
	color: white;
}

.table th,
.table td {
	vertical-align: top !important;
}

.bg-custom-gradient {
	background: rgb(7,44,247);
	background: linear-gradient(0deg, rgba(7,44,247,1) 0%, rgba(3,163,187,1) 100%);
}

.sidebar.sidebar-style-2 .nav.nav-danger>.nav-item.active>a {
	background: rgb(7,44,247);
	background: linear-gradient(0deg, rgba(7,44,247,1) 0%, rgba(3,163,187,1) 100%) !important;
}

.logo-header[data-background-color=blue] {
	background: rgb(7,44,247);
	background: linear-gradient(0deg, rgba(7,44,247,1) 0%, rgba(3,163,187,1) 100%);
}

.navbar-header[data-background-color=blue2] {
	background: rgb(7,44,247);
	background: linear-gradient(0deg, rgba(7,44,247,1) 0%, rgba(3,163,187,1) 100%);
}